
<!-- Home section
================================================== -->
<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<h3 class="wow fadeInDown" data-wow-delay="0.2s">AI Powered Insurance Agent</h3>
				<h1 class="wow fadeInDown"><span style="background-color: #FFFFFF7F">Diversified Risk Solutions<sup>&reg;</sup></span></h1>
                <a href="#" onclick="haleyClick(); return false;" class="btn btn-danger wow fadeInUp" data-wow-delay="0.4s">Get Your Quotes from 10+ Providers</a>
				
			</div>

		</div>
	</div>		
</section>

<section class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
	
<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="#">
				<img src="/images/HorizontalLogo.png" style="height: 50px;" alt="logo"/>
						
				</a>
				
			</div>	 
		</div>
		
		<div class="collapse navbar-collapse" id="upmenu">
			<ul class="nav navbar-nav" id="navbarontop">
		
				
				<li class="dropdown">
	            <a href="/100/CommercialInsurance/Commercial.html" class="dropdown-toggle" data-toggle="dropdown">Commercial<b class="caret"></b></a>
	            <ul class="dropdown-menu multi-column columns-2">
		            <div class="row">
			            <div class="col-sm-6">
				            <ul class="multi-column-dropdown">
					            <li><a href="/100/CommercialInsurance/Commercial.html" data-navigo2>Commercial Insurance</a></li>
						 <li class="divider"></li>
					            <li><a href="/content/125/CommercialInsurance/GeneralLiability" data-navigo2>General Liability</a></li>
					            <li><a href="/140/CommercialInsurance/Property.html" data-navigo2>Property</a></li>
					            <li><a href="/160/CommercialInsurance/BusinessOwnerPolicy.html" data-navigo2>Business Owner Policy</a></li> 
					            <li><a href="/126/CommercialInsurance/CommercialPackagePolicy.html" data-navigo2>Commercial Package</a></li>
						    <li><a href="/155/CommercialInsurance/EquipmentBreakdown.html" data-navigo2>Equipment Breakdown</a></li>
					            <li><a href="/130/CommercialInsurance/WorkerCompensation.html" data-navigo2>Workers Compensation</a></li>
					            <li><a href="/127/CommercialInsurance/BusinessAuto.html" data-navigo2>Business Auto</a></li>
					            <li><a href="/131/CommercialInsurance/Excess.html" data-navigo2>Umbrella/Excess</a></li>
						    <li><a href="/152/CommercialInsurance/InlandMarine.html" data-navigo2>Inland Marine</a></li>
						    <li><a href="/825/CommercialInsurance/ProfessionalLiability.html" data-navigo2>Professional Liability</a></li>
						   <!-- <li><a href="880/CommercialInsurance/SpecialEvent.html">Special Events</a></li>-->
					    	</ul>
			            </div>
			            <div class="col-sm-6">
				            <ul class="multi-column-dropdown">
					            <li>Industry</li>
								<li class="divider"></li>
						    <li><a href="/196/Industry/ArtsEntertainment.html">Arts&Entertainment</a></li>
					             <li><a href="/237/Industry/Construction.html">Construction</a></li>
					            <li><a href="/193/Industry/Retail.html">Retail</a></li>
						    <li><a href="/240/Industry/Wholesale.html">Wholesale</a></li>
					            <li><a href="/238/Industry/Transportation.html">Transportation</a></li>
								<li><a href="/199/Industry/Finance.html">Finance/Insurance/Real Estate</a></li>
								<li><a href="/195/Industry/Services.html">Services</a></li>
								<li><a href="/239/Industry/Manufacture.html">Manufacturing</a></li>
								<li><a href="/191/Industry/Agriculture.html">Agriculture</a></li>
								<li><a href="/194/Industry/Mining.html">Mining</a></li>
								<li><a href="/192/Industry/PublicAdministration.html">Public Administration</a></li>
								
				            </ul>
			            </div>
		            </div>
	            </ul>
	        </li>
				
				<li class="dropdown">
	            <a href="025/PersonalInsurance/Personal.html" class="dropdown-toggle" data-toggle="dropdown">Personal<b class="caret"></b></a>
	            <ul class="dropdown-menu multi-column columns-2">
		            <div class="row">
			            
			            <div class="col-sm-6">
				            <ul class="multi-column-dropdown">
					            <li><a href="/025/PersonalInsurance/Personal.html">Personal Insurance</a></li>
								<li class="divider"></li>
					             <li><a href="/080/PersonalInsurance/HomeownerPolicy.html">Homeowner</a></li>
					            <li><a href="/093/PersonalInsurance/RenterInsurance.html">Renter</a></li>
						    <li><a href="/090/PersonalInsurance/PersonalAuto.html">Personal Auto</a></li>
					            <li><a href="/079/PersonalInsurance/Flood.html">Flood</a></li>
						    <li><a href="/078/PersonalInsurance/Jewelry.html">Jewelry</a></li>
					            <li><a href="/081/PersonalInsurance/FineArt.html">Fine Arts</a></li>
					            <li><a href="/082/PersonalInsurance/Boat.html">Boat</a></li>
						    <li><a href="/077/PersonalInsurance/Plane.html">Plane</a></li>
					         <!--   <li><a href="#">Pet</a></li>-->
					            <li><a href="/028/PersonalInsurance/Motorcycle.html">Motorcycle</a></li>
						    <li><a href="/092/PersonalInsurance/RecreationalVehicle.html">Recreational Vehicle</a></li>
						    <li><a href="/880/PersonalInsurance/SpecialEvent.html">Special Events</a></li>
				            </ul>
			            </div>
						
						<div class="col-sm-6">
				            <ul class="multi-column-dropdown">
					            <li>Client Type</li>
								<li class="divider"></li>
					           <!-- <li>Individual</li>
					            <li>Family</li>-->
					            <li><a href="/091/PersonalInsurance/PrivateClient.html">Private Client</a></li>
					    	</ul>
			            </div>
						
		            </div>
	            </ul>
	        </li>
				
		<li>	
			<a href="#contact">Contact Us</a>
        </li>
		
        <li>
                      
		<ul>						
		  <button onclick="haleyClick(); return false;" class="btn">Get Quotes</button>
        </ul>
            </li>  
			</ul>
		</div>
	</nav>

</section>


<script>

    
    
    
    

    

function haleyClick() {
    
 
var haleybuttons = $('.haley-questions-form-open');
    
    
console.log('haleybuttons found:' + haleybuttons.length);  


var onclick = null;
    
haleybuttons.each(function( index ) {
  console.log( index + ": " + $( this ).text() );
    
    console.log( $( this ).attr("onclick") );
    
    $( this ).trigger("click");
    
    
    
});    
    
    
    
}

    

    
</script>
        



