<div class="dropdown hover-effect tertiary">
    {{#each categories}}
        <div class="dropdown-item active" style="background-color: cornflowerblue;">
            <button class="disabled-button" href="{{url}}" disabled="disabled" style="background-color: cornflowerblue; color: white;" data-navigo2>{{label}}</button>
        </div>
    {{/each}}
</div>