     
    <!-- Home section
================================================== -->
<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<h3 class="wow fadeInDown" data-wow-delay="0.2s">AI Powered Insurance Agent</h3>
				<h1 class="wow fadeInDown"><span style="background-color: #FFFFFF7F">Diversified Risk Solutions<sup>&reg;</sup></span></h1>
                <a href="#" onclick="return false;" class="btn btn-danger wow fadeInUp haley-questions-form-open" data-wow-delay="0.4s">Get Your Quotes from 10+ Providers</a>
				
			</div>

		</div>
	</div>		
</section>
